.sidebar {
  border-right: 1px solid #e7ebee;
  height: 100vh;
  font-weight: 500;
  position: relative;
}
.sidebar-item {
  padding: 20px;
  border-bottom: 1px solid #e7ebee;

}
.sidebar-item:hover {
  background: #f4f4f4;
  cursor: pointer;
}
.sidebar-logout {
  padding: 20px;
  border-top: 1px solid #e7ebee;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
}
.sidebar-logout:hover {
  background: #f4f4f4;
}

.sidebar-brand {
  height:8vh;
  border-bottom: 1px solid #e7ebee;
  display:flex;
  align-items: center;
  padding: 0 20px;
}
