.navbar {
  border-bottom: 1px solid #e7ebee;
  height: 8vh;
  background: white;
  justify-content: space-between;
  display:flex;
  align-items: center;
}
.navbar h4 {
  // width: 15vw;
  border: 1px solid red;
  margin-right: auto;
  padding-left: 20px;
  // border-right: 1px solid #e7ebee;
  height: 100%;
  // width: 100%;
  display: flex;
  align-items: center;
}
 
.navbar__mid {
  margin-top: auto;
  height: 8vh;
  width: 80vw;
  margin-left: auto;
}

.team__header {
  display:flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.team__day {
  border-radius: 500px;
  padding: 5px 60px;
  border: 2px solid plum;
  color: plum;
  cursor: pointer;
  transition: .05s linear;

  .team:hover {
      background: plum;
      color: white;
  }
}

.team__icon {
  border: 1px solid #e7ebee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
margin: 0 15px;
  transition: .05s linear;

  &:hover {
      background: #f4f4f4;
  }
}

