.layout {
  display:flex;

}

.layout__left {
    width: 15vw;
}

.layout__right {
    width: 85vw;
}
.grid-sidebar {
    grid-area: sidebar;
}
.grid-nav {
    grid-area: navbar;
}
.grid-content {
    grid-area: cont;
}   